{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h1 class="font-bold uppercase text-2xl mb-10 text-center">Ваша корзина</h1>
    <div class="md:w-3/4 mx-auto lg:w-1/2">
    <table class="w-full bg-white p-10 rounded-lg shadow" >
        <thead>
        <tr class="text-left">
            <th class="w-28 p-2 text-center"><span class="material-icons">image</span></th>
            <th class="pl-2">Название</th>
            <th class="p-2 text-center">Количество</th>
            <th class="p-2 text-center">Удалить</th>
            <th>Цена</th>
            <th class="w-28 p-2 text-center">Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr class="divide-y divide-gray-500 text-left">
                    <td class="p-2">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="mx-auto" style="width: 80px" src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td class="pl-2">{{ product.name }}</td>
                    <td class="p-2 text-center">{{ item.quantity }}</td>
                    <td class="p-2 text-center"><a href="{% url "cart:cart_remove" product.id%}"><span class="material-icons">delete_forever</span></a></td>
                    <td class="num">{{ item.price }} руб.</td>
                    <td class="p-2 text-center">{{ item.total_price }} руб.</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="divide-y divide-yellow-500 text-center">
            <td class="py-8">Итого</td>
            <td colspan="4"></td>
            <td class="py-8">{{ cart.get_total_price }} руб.</td>
        </tr>
        </tbody>
    </table>
    <div class="flex justify-between w-full p-10">
        <div class="">
            <a href="{% url "shop:product_list" %}" class="button light">Продолжить покупки</a>
        </div>
        <div class="">
            <a href="{% url "orders:order_create" %}" class="button">Оформить</a>
        </div>
    </div>
    </div>

{% endblock %}