{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h1 class="font-bold uppercase text-2xl mb-10 text-center">Ваша корзина</h1>

    <div class="w-4/5 md:w-2/4 mx-auto px-4">
        {% for item in cart %}
            {% with product=item.product %}
            <!-- Карточка товара -->
			<div class='relative my-6 shadow-lg flex bg-white rounded border-t border-gray-50'>
				<div class='flex-no-shrink p-4'>
					<img alt='' class='w-14 block mx-auto' 
                    src='
                        {% if product.image %}
                            {{ product.image.url }}
                        {% else %}
                            {% static "img/no_image.png" %}
                        {% endif %}'
                    >
				</div>
				<div class='flex-1 card-block relative'>
                        <a class='-m-4 w-8 h-8 bg-white right-0 top-0 flex items-center justify-center text-center no-underline rounded-full text-black shadow hover:bg-red-400 hover:text-white absolute pin-t pin-r' 
                        href="{% url "cart:cart_remove" product.id%}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </a>
                    <div class="px-2">
                            <h4 class='font-extralight text-xl md:text-2xl mt-4'>{{ product.name }}</h4>
                    <!-- <p class='leading-normal'></p> -->
                            <p class="text-lg text-gray-600 block px-2 pb-2 font-extralight text-right">
                            <span class="text-black font-normal">{{ item.quantity }} шт.</span> | {{ item.total_price }}₽</p>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
            <span class="w-full block text-right font-semibold">{{ cart.get_total_price }} руб.</span>
    <div class="flex justify-between w-full pt-2">
        <button class="btn">
            <a href="{% url "shop:product_list" %}" class="button light">Продолжить покупки</a>
        </button>
        <button class="btn">
            <a href="{% url "orders:order_create" %}" class="button">Оформить</a>
        </button>
    </div>
		</div>
{% comment %} 
    <div class="flex items-center justify-center">
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">

                <!-- Карточка товара -->
                    <div class="relative bg-white py-0 px-6 rounded border w-64 my-4 mb-12 shadow-md">
                    <!-- Image  -->
                        <div class="absolute rounded-full py-0 px-0 shadow-md left-4 -top-6">
                            <img class="mx-auto w-16" src="
                                    {% if product.image %}
                                        {{ product.image.url }}
                                    {% else %}
                                        {% static "img/no_image.png" %}
                                    {% endif %}">
                        </div>
                        <!-- Название -->
                        <div class="mt-12">
                            <p class="text-xl font-semibold my-2">{{ product.name }}</p>
                            <div class="flex space-x-2 text-gray-400 text-sm my-3">
                                <!-- svg  -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
                                    </svg>
                                <p>Цена: {{ item.price }} ₽</p>  
                            </div>
                            <div class="border-t-2"></div>

                            <div class="flex justify-between">
                                <div class="my-2">
                                    <p class="font-semibold text-base mb-2">Количество</p>
                                    <div class="flex space-x-2">
                                        <p>{{ item.quantity }} шт.</p>
                                    </div>
                                </div>
                                <div class="my-2">
                                    <p class="font-semibold text-base mb-2">Сумма</p>
                                    <div class="text-base text-gray-400 font-semibold">
                                        <p>{{ item.total_price }} ₽</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endwith %}
            {% endfor %}
        </div>
        </div> {% endcomment %}



{% endblock %}