{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="md:hidden">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                <a href="{% url "cart:cart_detail" %}"
                   class="z-50 fixed bottom-6 right-6 rounded-full px-6 py-1 bg-red-400 border text-lg md:text-sm text-white font-light">
                        {{ cart.get_total_price }} ₽
                </a>
            {% endif %}
        {% endwith %}
    </div>
<div class="">
    <div class="" id="categories">
        <h2 class="text-3xl text-center mb-4">{% if category %}{{ category.name }}{% else %}Наклейки{% endif %}</h2>
        <ul class="flex justify-center">
            <li class="mx-6">
                <a {% if not category %} class="text-red-400 bg-yellow-50"{% endif %} href="{% url "shop:product_list" %}">Все</a>
            </li>
            {% for c in categories %}
                <li class="mx-4">
                    <a {% if category.slug == c.slug %}class="text-red-400"{% endif %} href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
<div class="flex items-center justify-center">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 mt-6">
        {% for product in products %}
            <div class="md:w-44 lg:w-44 rounded bg-white p-3 m-4 border-t border-gray-50" style="box-shadow: 4px 4px 20px rgba(0, 0, 0, .05);">
                <div class="card-image  h-full md:h-36">
                    <a href="{{ product.get_absolute_url }}">
                        <img class="w-full md:w-44 lg:w-44" loading="lazy" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </div>

                <form class="text-center mt-4" action="{% url "cart:cart_add" product.id %}" method="post">
                    <div class="number">
                        <button class="w-1/4 rounded-l-full" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                            </svg>
                        </button>
                        <input clsss="flex w-2/4 rounded-full" name="quantity" type="number" min="25" value="25" step="25" readonly>
                        <button class="w-1/4 right-1 rounded-r-full" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </button>
                    </div>
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input class="btn w-32" type="submit" value="Добавить">
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}