{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="">
    <div class="my-8" id="categories">
        <h2 class="text-xl mb-2">{% if category %}{{ category.name }}{% else %}Наклейки{% endif %}</h2>
        <ul class="flex">
            <li class="mx-8">
                <a {% if not category %} class="text-red-400 bg-yellow-50"{% endif %} href="{% url "shop:product_list" %}">Все</a>
            </li>
            {% for c in categories %}
                <li class="mx-8">
                    <a {% if category.slug == c.slug %}class="text-red-400"{% endif %} href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="flex-grow">
        <div class="">
        {% for product in products %}
        <div class="md:inline-flex lg:inline-flex m-4">
            <div class="md:w-44 lg:w-44 shadow-md border rounded bg-white p-3 m-4">
                <div class="card-image">
                    <a href="{{ product.get_absolute_url }}">
                        <img class="w-full md:w-44 lg:w-44" loading="lazy" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </div>

                    <form class="text-center mt-4" action="{% url "cart:cart_add" product.id %}" method="post">
                    <div class="number">
                        <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                        <input name="quantity" type="number" min="25" value="25" step="25" readonly>
                        <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                    </div>
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input class="btn w-32" type="submit" value="Добавить">
                        </form>
<!--                     ${{ product.price }} -->

            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}