{% extends "shop/base.html" %}
{% load static %}


{% block content %}
    <div class="flex flex-col flex-none min-h-screen w-16 md:w-48 bg-white border-r border-gray-100">
        <div class="flex items-center mt-4 md:mt-6 justify-center">
            {% if user.socialaccount_set.all.0.get_avatar_url %}
                <img class="rounded-full w-8 h-8 md:w-24 md:h-24 object-cover"
                     src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
            {% elif user.profile.profile_picture %}
                <img class="rounded-full w-8 h-8 md:w-24 md:h-24 object-cover"
                     src="{{ user.profile.profile_picture.url }}">
            {% else %}
                <img class="w-8 md:w-24" src="/media/images/profile_pictures/default_picture.jpg">
            {% endif %}
        </div>
        <div class="hidden md:flex justify-center text-md font-light pt-4">{{ user.first_name }} {{ user.last_name }}</div>
        <ul class="flex flex-col py-4 md:ml-8">
            <li>
                <a href="{% url 'accounts:user_profile' %}"
                   class="flex flex-row justify-center md:justify-start items-center text-gray-500 hover:text-black">
                        <span class="inline-flex items-center justify-center md:pl-2 h-12 w-12 text-gray-600">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                      d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
                            </svg>
                        </span>
                    <span class="hidden md:inline-flex text-md font-light">Заказы</span>
                </a>
            </li>
{% if user.is_superuser %}
            <li>
                <a href="/admin/"
                   class="flex flex-row justify-center md:justify-start items-center text-gray-500 hover:text-black">
                        <span class="inline-flex items-center justify-center md:pl-2 h-12 w-12 text-gray-600">
                         <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path d="M12 14l9-5-9-5-9 5 9 5z" />
  <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
</svg>
                        </span>
                    <span class="hidden md:inline-flex text-md font-light">admin</span>
                </a>
            </li>
{% endif %}
            <li>
                <a href="{% url 'accounts:edit_profile' %}"
                   class="flex flex-row justify-center md:justify-start items-center text-gray-500 hover:text-black">
                        <span class="inline-flex items-center justify-center md:pl-2 h-12 w-12 text-gray-600">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                        </span>
                    <span class="hidden md:inline-flex text-md font-light">Профиль</span>
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:logout' %}"
                   class="flex flex-row justify-center md:justify-start items-center text-gray-500 hover:text-black">
                        <span class="inline-flex items-center justify-center md:pl-2 h-12 w-12 text-gray-600">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor"
                            >
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                            </svg>
                        </span>
                    <span class="hidden md:inline-flex text-md font-light">Выйти</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
