{% extends 'shop/base.html' %}

{% load widget_tweaks %}
{% block content %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in password_reset_form %}
                <div class="mb-5 -mt-4">
                    <label for="{{ field.id_for_label }}" class="block mb-2 font-normal text-gray-600">
                        {{ field.label }}
                    </label>
                    {%  render_field field|add_class:"border border-gray-300 shadow p-3 w-full rounded mb-" placeholder=field.label %}
                    {% for error in field.errors %}
                        <span class="text-sm text-red-400 mt-8">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="block w-full bg-white text-gray-800 font-bold p-4 rounded-lg shadow-md">
                Send email
            </button>
        </form>
  	</div>

{% endblock %}