{% extends "shop/base.html" %}

{% block content %}

    <div class="min-h-screen flex flex-row -mt-4">
        <div class="flex flex-col w-56 bg-white overflow-hidden border-r">
            <div class="flex items-center justify-center h-20 border-b">
                <img class="w-16 h-16" src="/media/logo.svg">
            </div>
            <ul class="flex flex-col py-4">
                <li>
                    <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-shopping-bag"></i></span>
                        <span class="text-sm font-medium">Заказы</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-chat"></i></span>
                        <span class="text-sm font-medium">Чат</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-user"></i></span>
                        <span class="text-sm font-medium">Профиль</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-out"></i></span>
                        <span class="text-sm font-medium">Выйти</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex px-8 w-full">
            <div class="text-center">
                {% if order_list %}
                    <ul>

                        {% for order in order_list %}
                            <li>
                                <a href="{{ order.get_absolute_url }}">{{ order.name }}</a> ({{order.name}})
                            </li>
                        {% endfor %}

                    </ul>
                {% else %}
                    <p>There are no orders in the library.</p>
                {% endif %}
            {{ user.username }}
            </div>
        </div>
    </div>

{% endblock %}