{% extends "shop/base.html" %}
{% load static %}

{% block content %}

    <div class="min-h-screen flex flex-row">
        <div class="flex flex-col w-56 bg-white overflow-hidden border-r">
            <div class="flex items-left h-20">
                <img class="w-16 h-16" src="/media/logo.svg">
            </div>
            <ul class="flex flex-col py-4">
                <li>
                    <a href="{% url 'accounts:user_profile' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-shopping-bag"></i></span>
                        <span class="text-sm font-medium">Заказы</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-chat"></i></span>
                        <span class="text-sm font-medium">Чат</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-user"></i></span>
                        <span class="text-sm font-medium">Профиль</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-out"></i></span>
                        <span class="text-sm font-medium">Выйти</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex px-8 w-full">
            <div class="">
                <span class="text-3xl mt-8">Привет, {{ user.first_name }}</span>
                <div class="flex-wrap">
                    {% for order in orders %}
                    <a href="{{ order.get_absolute_url }}">
                        <div class="m-8 shadow p-4 w-full md:w-3/4 hover:bg-gray-50 transition">
                            <div class="flex w-full justify-left">
                                <span class="px-2">Заказ №: {{ order.id }}</span>
                                <span class="font-normal">{{ order.get_total_cost }}₽</span>
                            </div>
                            <div class="flex flex-wrap py-2">
                            {% for item in order.get_order_items %}
                            <div class='p-1'>
                                <img alt='{{ item.product.name }}' class='w-14' 
                                src='
                                    {% if item.product.image %}
                                        {{ item.product.image.url }}
                                    {% else %}
                                        {% static "img/no_image.png" %}
                                    {% endif %}
                                    '>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}