.btn {
    padding: 3px 6px;
    margin: 10px;
}

.number {
    display: inline-block;
    position: relative;
    width: 130px;
    margin: 0 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none; 
    margin: 0;
}

.square {
    width: 100%;
    height: 0;
    padding-bottom: 100%; }

/*
The CSS rule below is necessary to force the menu to display at desktop size. Without it, it would be hidden due to this Alpine directive:
x-data="{menuIsOpen : false}"
*/
@media screen and (min-width: 1024px) {
    .flex-important{
        display: block !important;
    }
}
