{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body class="font-sans font-extralight text-red-900 ">

    <div class="w-full h-10 md:h-14 text-gray-700 bg-white shadow-md fixed content-center top-0 z-50 backdrop-filter backdrop-blur-md bg-opacity-60">
        <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
            <div class="p-2 md:p-4 flex flex-row items-center justify-between">
                <a href="/" class="text-lg font-semibold tracking-widest text-gray-900 uppercase">
                    500 Эскимо</a>
                <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
            <nav :class="{'flex': open, 'hidden': !open}" 
            class="w-64 absolute md:static right-4 top-16 rounded shadow-lg border-t border-gray-50 md:border-none md:shadow-none font-light flex-col flex-grow text-right pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row bg-white backdrop-filter backdrop-blur-md md:backdrop-blur-0 bg-opacity-40 md:bg-opacity-0">
                <a class="mx-2 md:mx-0 px-4 py-2 mt-2 text-md rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-red-50 focus:bg-yellow-100 focus:outline-none focus:shadow-outline"
                   href="#">Главная</a>
                <a class="mx-2 md:mx-0 px-4 py-2 mt-2 text-md rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-red-50 focus:bg-yellow-100 focus:outline-none focus:shadow-outline"
                   href="{% url "shop:product_list" %}">Сделать заказ</a>
                <a class="mx-2 md:mx-0 px-4 py-2 mt-2 text-md rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-red-50 focus:bg-yellow-100 focus:outline-none focus:shadow-outline"
                   href="#">Контакты</a>
            </nav>
            <div class="hidden md:inline-flex pl-4 text-sm md:mt-0 md:ml-4 z-40"
               href="{% url "cart:cart_detail" %}">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        {{ total_items }} шт.
                        <span class="font-light z-40">({{ cart.get_total_price }}₽)</span>
                    {% endif %}
                {% endwith %}
            </div>
            <a class="hidden md:inline-flex pl-1 pb-1" href="{% url "cart:cart_detail" %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                </svg>
            </a>
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section=="dashboard" %}class="selected"{% endif %}>
                    <a href="{% url " dashboard" %}">My dashboard</a>
                    </li>
                    <li {% if section=="images" %}class="selected"{% endif %}>
                    <a href="#">Images</a>
                    </li>
                    <li {% if section=="people" %}class="selected"{% endif %}>
                        <a href="#">People</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="container mx-auto mt-14 md:mt-20 px-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
