{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="RU">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My shop{% endblock %}</title>
    {% tailwind_css %}
    {#    <link#}
    {#            rel="stylesheet"#}
    {#            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"#}
    {#    />#}
    <link
            rel="stylesheet"
            href="{% static 'css/main.css' %}"
    />
    {#    <script#}
    {#            defer#}
    {#            src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"#}
    {#    ></script>#}

    <script
            defer
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
    ></script>

    {#    <script#}
    {#            src="https://unpkg.com/vue@next"#}
    {#    ></script>#}

</head>
<body class="relative font-sans font-extralight text-gray-700">

{% if user.is_authenticated %}
    <div class="w-full h-11 md:h-14 text-gray-700 bg-white border-b border-gray-100 sticky content-center top-0 z-10 backdrop-filter backdrop-blur-lg bg-opacity-30">
        <div x-data="{menuIsOpen : false}"
             class="flex flex-col max-w-screen-xl px-2 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
            <div class="p-2 md:p-4 flex flex-row items-center justify-between">
                <a href="{% url 'homepage' %}" class="">
                    <img class="w-7 md:mx-8" src="/media/logo.svg">
                </a>
                <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline"
                        @click="menuIsOpen = !menuIsOpen"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
            <nav
                    x-show="menuIsOpen"
                    @click.away="menuIsOpen = false"
                    x-transition:enter="transition ease-out duration-300 transform"
                    x-transition:enter-start="opacity-0 -translate-y-8"
                    x-transition:enter-end="opacity-100 translate-y-0"
                    x-transition:leave="transition ease-out duration-300 transform"
                    x-transition:leave-start="opacity-100 translate-y-0"
                    x-transition:leave-end="opacity-0 -translate-y-8"
                    :class="{'flex': open, 'hidden': !open}"
                    class="flex-important w-full absolute md:static right-0 top-11 rounded border-l
                 border border-b border-gray-50 md:border-none md:shadow-none
                 font-light flex-col flex-grow text-right pb-2 md:pb-0
                 hidden md:flex md:justify-end md:flex-row bg-white
                 backdrop-filter backdrop-blur-lg md:backdrop-blur-0 bg-opacity-40 md:bg-opacity-0">
                <a class="mx-2 md:mx-0 px-4 py-2 mt-2 text-md rounded-lg md:mt-0 md:ml-4"
                   href="{% url 'homepage' %}">Главная</a>
                <a class="mx-2 md:mx-0 px-4 py-2 mt-2 text-md rounded-lg md:mt-0 md:ml-4"
                   href="{% url 'shop:product_list' %}">Каталог</a>
                <a class="mx-2 md:mx-0 px-4 py-2 mt-2 text-md rounded-lg md:mt-0 md:ml-4"
                   href="{% url 'contact' %}">Контакты</a>
                {% if user.is_authenticated %}
                    {% if user.socialaccount_set.all.0.get_avatar_url %}
                        <a class="flex md:hidden mx-2 md:mx-0 px-4 py-2 mt-2" href="{% url 'accounts:user_profile' %}">
                            <img class="rounded-full flex h-7 w-7 ml-24 mr-2 object-cover"
                                 src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Аватар">
                            <div>Профиль</div>
                        </a>
                    {% else %}
                        <a class="md:hidden mx-2 md:mx-0 px-4 py-2 mt-2" href="{% url 'accounts:user_profile' %}">
                            <svg class="flex h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                      d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </a>
                    {% endif %}
                {% else %}
                    <a class="md:hidden mx-2 md:mx-0 px-4 py-2 mt-2 text-md" href="{% url 'accounts:login' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             style="fill: rgba(0, 0, 0, 1);">
                            <path d="m10.998 16 5-4-5-4v3h-9v2h9z"></path>
                            <path d="M12.999 2.999a8.938 8.938 0 0 0-6.364 2.637L8.049 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051S20 10.13 20 12s-.729 3.628-2.051 4.95-3.08 2.051-4.95 2.051-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637C21.063 16.665 22 14.405 22 12s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"></path>
                        </svg>
                    </a>
                {% endif %}
            </nav>
            <a class="hidden md:inline-flex pl-4 text-sm text-gray-500 md:mt-0 md:ml-4 z-40"
               href="{% url 'cart:cart_detail' %}">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        {{ total_items }} шт.
                        <span class="font-normal z-40">({{ cart.get_total_price }}₽)</span>
                    {% endif %}
                {% endwith %}
            </a>
            <a class="hidden md:inline-flex pl-1" href="{% url 'cart:cart_detail' %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                          d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
                </svg>
            </a>
            {% if user.is_authenticated %}
                {% if user.socialaccount_set.all.0.get_avatar_url %}
                    <a class="hidden md:inline-flex pl-1 pb-0 pl-4" href="{% url 'accounts:user_profile' %}">
                        <img class="rounded-full h-7 w-7 object-cover"
                             src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                    </a>
                {% else %}
                    <a class="hidden md:inline-flex pl-1 pb-0 pl-4" href="{% url 'accounts:user_profile' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                    </a>
                {% endif %}
            {% else %}
                <a class="hidden md:inline-flex pl-1 pb-0 pl-4" href="{% url 'accounts:login' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                              d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
<div class="container mx-auto">
    {% if messages %}
        {% for message in messages %}
            <div x-data
                 x-init="$store.toasts.createToast('{{ message }}', '{{ message.tags }}')"
            >
            </div>
        {% endfor %}
    {% endif %}
</div>
<div x-data class="absolute top-0 right-0 m-2 overflow-x-hidden z-50">
    <template
            x-for="(toast, index) in $store.toasts.list"
            :key="toast.id"
    >
        <div
                x-show="toast.visible"
                @click="$store.toasts.destroyToast(index)"
                x-transition:enter="transition ease-in duration-200"
                x-transition:enter-start="transform opacity-0 translate-y-2"
                x-transition:enter-end="transform opacity-100"
                x-transition:leave="transition ease-out duration-500"
                x-transition:leave-start="transform translate-x-0 opacity-100"
                x-transition:leave-end="transform translate-x-full opacity-0"
                class="bg-gray-900 bg-gradient-to-r text-white p-3 rounded mb-3 shadow-lg flex items-center"
                :class="{
				'from-blue-500 to-blue-600': toast.type === 'info',
				'from-green-500 to-green-600': toast.type === 'success',
				'from-yellow-400 to-yellow-500': toast.type === 'warning',
				'from-red-500 to-pink-500': toast.type === 'error',
				}"
        >
            <svg
                    x-show="toast.type == 'info'"
                    class="w-6 h-6 mr-2"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
            >
                <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                        clip-rule="evenodd"></path>
            </svg>
            <svg
                    x-show="toast.type == 'success'"
                    class="w-6 h-6 mr-2"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
            >
                <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
            </svg>
            <svg
                    x-show="toast.type == 'warning'"
                    class="w-6 h-6 mr-2"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
            >
                <path
                        fill-rule="evenodd"
                        d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                        clip-rule="evenodd"></path>
            </svg>
            <svg
                    x-show="toast.type == 'error'"
                    class="w-6 h-6 mr-2"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
            >
                <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                        clip-rule="evenodd"></path>
            </svg>
            <div x-text="toast.message"></div>
        </div>
    </template>
</div>
{% block content %}
{% endblock %}
</div>
{#    <script#}
{#            src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"#}
{#    ></script>#}

<script src="https://cdn.jsdelivr.net/npm/@ryangjchandler/spruce@2.x.x/dist/spruce.umd.js"></script>
<script>
    Spruce.store("toasts", {
        counter: 0,
        list: [],
        createToast(message, type = "info") {
            const index = this.list.length
            let totalVisible =
                this.list.filter((toast) => {
                    return toast.visible
                }).length + 1
            this.list.push({
                id: this.counter++,
                message,
                type,
                visible: true,
            })
            setTimeout(() => {
                this.destroyToast(index)
            }, 2000 * totalVisible)
        },
        destroyToast(index) {
            this.list[index].visible = false
        },
    })
</script>
</body>
</html>
