{% extends 'shop/base.html' %}

{% load widget_tweaks %}
{% block content %}

	<!--Reset Password-->
	<div class="flex-col ">
  	 	<h2 class="text-3xl p-8">Reset Password</h2>
		<hr>
		<p class="w-3/5 m-4">Забыли пароль? Введите свой адрес электронной почты ниже, и мы отправим инструкции по электронной почте для установки нового.</p>
        <form method="POST">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in password_reset_form %}
                <div class="relative my-8 mx-4" x-data="{ value: '' }">

                    {%  render_field field|add_class:"h-12 px-3 w-80 border border-gray-200 rounded focus:outline-none focus:border-0" x-model="value"  %}
                    <label for="{{ field.id_for_label }}"
                           class="focused-sibling:-translate-y-8 focused-sibling:text-xs bg-white absolute top-1/2 px-1 left-2 transform transition-transform"
                           :class="{ '-translate-y-8 text-xs': value, '-translate-y-1/2 text-md text-gray-500': !value }">
                        {{ field.label }}
                    </label>

                    {% for error in field.errors %}
                        <span class="">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="m-4 px-4 py-2 border rounded">
                Send email
            </button>
        </form>
  	</div>

{% endblock %}