{% extends 'shop/base.html' %}

{% block content %}

    <!--Password reset sent-->
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Отправлен сброс пароля</h2>
        <hr>
        <p>Мы написали вам инструкции по настройке пароля, если учетная запись существует с введенной вами электронной
            почтой. Вы должны получить их в ближайшее время.
            <br>
            Если вы не получите электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, который вы
            зарегистрированы, и проверьте свою папку SPAM.</p>
    </div>

{% endblock %}